 td {
    border: 3px solid gray;
    /* border-top: none; */
    width: 120px;
    height: 120px;
}
.upV{
    border: 3px solid gray;

}

#mainBox{
    display: flex;
    justify-content: center;
}

td{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 500;
}



.button-16 {
    background-color: #dad8d867;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #313435;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 36px;
    line-height: 27px;
    width: 204px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin-top: 20px;

  }
  
  .button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, 0.733) 0 2px 2px;
    color: #202124;
  }
  
 